{% extends 'books/base.html' %}

{% load static %}

{% block content %}
<div class="wrapper d-flex align-items-stretch">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-light" style="width: 280px;">
        <ul class="nav nav-pills flex-column mb-auto">
            {% if cat_selected == 0 %}
            <li class="nav-item">
                <a href="#" class="nav-link" aria-current="page">All categories</a>
            </li>
            {% else %}
            <li>
                <a class="nav-link text-dark" href="{% url 'all_books' %}">All categories</a>
            </li>
            {% endif %}

            <!-- The inclusion tag show_categories fires, which creates the template and returns it. -->

            {% for cat in cats %}
                {% if cat.books__count > 0 %}
                    {% if cat.pk == cat_selected %}
            <li class="nav-item">
                <a href="#" class="nav-link" aria-current="page">{{cat.name}}</a>
            </li>
                    {% else %}
            <li>
                <a class="nav-link text-dark" href="{{ cat.get_absolute_url }}">{{cat.name}}</a>
            </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

	<div class="d-flex flex-column flex-grow-1 p-3 text-white bg-light">
        {% for book in books %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
					{% if book.photo %}
                    <img src="{{ book.photo.url }}" class="img-fluid rounded-start" alt="photo">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-header">
                        <p>Category: <a href="{{ book.cat.get_absolute_url }}">{{book.cat}}</a></p>
                        <p>Date: {{book.time_update|date:"d-m-Y H:i:s"}}</p>
                        {% include 'includes/favorite.html' %}
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">{{book.title}}</h2>
                        <h4 class="card-subtitle">{{book.author}}</h4>
                        {% autoescape on %}
                        <p class="card-text">{{book.description|linebreaks|truncatewords:50}}</p>
                        {% endautoescape %}
                        <a href="{{ book.get_absolute_url }}" class="btn btn-primary">Read book</a>
						{% if book.pdf_file %}
							<a href="{{ book.pdf_file.url }}" class="btn btn-primary" download>Download PDF</a>
						{% endif %}
						{% if user.is_authenticated and book.user == user %}
							<a class="btn btn-primary" href="{% url 'edit_book' book.pk %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_book' book.pk %}">Delete</a>
						{% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<br>
{% endblock %}
